/* Base Styles */

body {
  padding: 0;
  font-family:'Roboto Condensed';
}

.main-container {
  padding-top:2rem;
}

.main-container .jumbotron {
  background: #337ab7;
}

.main-container .jumbotron > * {
  color:#FFF;
}

/* Loading */

#loading {}
