<div id="loading-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg">
        <h4 class="modal-title">Loading...</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
        <img class="img-circle animated pulse infinite" src="images/centerpoint.png" alt="Centerpoint Admin" width="200">
        <p>One moment please...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Turn this into a directive?
<p id="loading" class="text-center">
  <img class="animated pulse infinite" src="images/centerpoint.png" alt="Centerpoint Admin" width="200">
  <span>Loading...</span>
</p>-->
