<h1 class="animated fadeInDown">Admin Dashboard</h1>

  <div class="list-group">

    <a ng-href="#/assets" class="list-group-item text-center">
      <h2 class="list-group-item-heading"><span class="fa fa-cubes fa-1x"></span> Assets Management</h2>
      <p class="list-group-item-text">Create, Update, or Delete your Centerpoint Game assets!</p>
    </a>

    <!--TODO: add legit shit here -->
    <a ng-href="#/assets" class="list-group-item text-center">
      <h2 class="list-group-item-heading"><span class="fa fa-cubes fa-1x"></span> Assets Management</h2>
      <p class="list-group-item-text">Create, Update, or Delete your Centerpoint Game assets!</p>
    </a>

    <a ng-href="#/assets" class="list-group-item text-center">
      <h2 class="list-group-item-heading"><span class="fa fa-cubes fa-1x"></span> Assets Management</h2>
      <p class="list-group-item-text">Create, Update, or Delete your Centerpoint Game assets!</p>
    </a>
    
  </div>
