<div class="list-container" ng-if="usersCtrl.isActionState('list') ">

  <list-header
    record-name="User"
    button-action="Add"
    create-handler="usersCtrl.showCreateForm()"
    animation="fadeIn">
  </list-header>

  <p ng-show="!users.length" class="alert alert-info">No records were found. Maybe you need to create one?</p>

  <list-table
    ng-show="users.length > 0"
    list="users"
    delete-handler="usersCtrl.deleteAsset"
    edit-handler="usersCtrl.showEditForm"
    animation="fadeIn">
  </list-table>

</div>
